$color-white: #fff;
$color-light: #eff8f7;
$color-light-active: #d9efec;
$color-primary: #34aca7;
$color-dark: #000;
$smokie: #e5e5e5;
$linear-top: #f4f3f3;
$linear-bottom: #bbb9b9;
$shadow-color: rgba(0, 0, 0, 0.25);
