.articles {
  &-container {
    @include flex-elems(flex, space-between);
    &-item {
      max-width: 23%;
      &:nth-child(2) {
        .articles {
          &-desc {
            &-title {
              margin-bottom: 30px;
            }

            &-text {
              margin-bottom: 33px;
            }
          }
        }
      }
      &:nth-child(4) {
        .articles{
          &-desc {
            &-text {
              margin-bottom: 46px;
            }
          }
        }
      }
    }
    &-img {
      @include img-size(100%, 143px);
      padding: 11px 9px 10px 10px;
      @include border(border, solid, $smokie);
      filter: drop-shadow(0px 1px 2px $shadow-color);
      margin: 0 0 11px;

      img {
        @include img-size();
        object-fit: cover;
      }
    }
    &-desc {
      letter-spacing: -0.02em;
    }
  }

  &-desc {
    &-title {
      @include text(16px, 21px, null, $color-primary, null, 0 0 10px);
    }
    &-text, 
    &-info {
      @include text(14px, 20px, null, null, null, 0 0 11px 1px);
    }
    &-info {
      color: $smokie;
    }
    &-more {
      color: $color-primary;
      margin-left: -3px;
    }
  }
}