.footer {
  padding: 24px 0 30px 2px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &-privacy {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    &-docs {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      color: $color-primary;
      &__item {
        &:first-child {
          padding-right: 4px;
        }
      
        &:nth-child(2) {
          padding: 0 4px;
          @include border(border-right, solid, $smokie);
          @include border(border-left, solid, $smokie);
        }
      
        &:last-child {
          padding-left: 4px;
        }
      }
    }
    &-legacy {
      margin: 5px 0 0;     
      color: $smokie;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    flex: 0 0 10.5%;
    &-item {
      &:not(:last-child) {
        margin-right: 12px;
      }
      margin-top: -3px;
      &:first-child {
        margin: 2px 12px 0 0;
      }
    }
  }
}