.footer {
  &.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 30px 2px;
  }
  
  &-privacy {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    &-docs {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      color: $color-primary;
      &__item {
        &:first-child {
          padding-right: 4px;
        }
      
        &:nth-child(2) {
          padding: 0 4px;
          @include border(border-right, solid, $smokie);
          @include border(border-left, solid, $smokie);
        }
      
        &:last-child {
          padding-left: 4px;
        }
      }
    }
    &-legacy {
      margin: 5px 0 0;     
      color: $smokie;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    max-width: 10.5%;
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
      &:not(:last-child) {
        margin-right: 12px;
      }
      margin: -3px 10px 0 0px;
      width: 32px;
      &:first-child {
        margin: 2px 12px 0 0;
      }
    }
  }
}