.footer {
  &.wrapper {
    @include flex-elems(flex, space-between);
    padding: 24px 0 30px 2px;
  }
  
  &-privacy {
    @include text(12px, 12px, null, null, -0.02em, null);
    &-docs {
      display: flex;
      @include list-reset(0, 0);
      color: $color-primary;
      &__item {
        &:first-child {
          padding-right: 4px;
        }
        &:nth-child(2) {
          padding: 0 4px;
          @include border(border-right, solid, $smokie);
          @include border(border-left, solid, $smokie);
        }
        &:last-child {
          padding-left: 4px;
        }
      }
    }
    &-legacy {
      margin: 5px 0 0;     
      color: $smokie;
    }
  }
  &-socials {
    @include flex-elems(flex, null, center);
    max-width: 10.5%;
    @include list-reset(0, 0);
    &-item {
      &:not(:last-child) {
        margin-right: 12px;
      }
      margin: -3px 10px 0 0px;
      width: 32px;
      &:first-child {
        margin: 2px 12px 0 0;
      }
    }
  }
}