.main {
  padding: 46px 0 0;

  .wrapper {
    @include flex-elems(flex, space-between);
    padding: 0 0 14px;
    @include border(border-bottom, solid, $smokie, 2px);
  }
}

.header {
  @include flex-elems(flex, null, center);
  flex-direction: column;
  max-width: 12.9%;

  &-links {
    width: 100%;
    &-container {
      @include list-reset(0, 6px 0 36px 3px);
      li:not(:last-child) {
        margin-bottom: 36px;
      }
    }

    &-item {
      margin: 0;
      @include flex-elems(flex, null, center);
    }

    &-img {
      margin-right: 12px;
    }

    &-text {
      @include text(14px, 14px, italic, $color-primary, null, null);
    }
  }

  &-external {
    &-item {
      margin-bottom: 6px;
    }

    &-title {
      text-transform: uppercase;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      @include text(12px, 12px, null, null, null, 0 0 9px);
      padding-bottom: 3px;
      @include border(border-bottom, dashed, $smokie);
    }

    &-btn {
      @include flex-elems(flex, null, center);
      @include border(border, solid, $smokie);
      padding: 6px 12px 6px 6px;
      border-radius: 5px;

      &_text {
        @include text(10px, 12px, italic, $color-primary, null, 0 0 0 6px);
      }
    }

    &-desc {
      @include text(10px, 19px, italic, null, null, 11px 0 13px);
    }
  }
}
