.main {
  padding: 46px 0 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 0 14px;
    @include border(border-bottom, solid, $smokie, 2px);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 12.9%;

  &-links {
    width: 100%;

    &-container {
      margin: 6px 0 36px 3px;
      padding: 0;
      list-style: none;

      li:not(:last-child) {
        margin-bottom: 36px;
      }
    }

    &-item {
      margin: 0;
      display: flex;
      align-items: center;
    }

    &-img {
      margin-right: 12px;
    }

    &-text {
      font-style: italic;
      font-size: 14px;
      line-height: 14px;
      color: $color-primary;
    }
  }

  &-external {
    &-item {
      margin-bottom: 6px;
    }

    &-title {
      text-transform: uppercase;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 3px;
      @include border(border-bottom, dashed, $smokie);
      margin: 0 0 9px;
    }

    &-btn {
      display: flex;
      align-items: center;
      @include border(border, solid, $smokie);
      padding: 6px 12px 6px 6px;
      border-radius: 5px;

      &_text {
        font-style: italic;
        font-size: 10px;
        line-height: 12px;
        color: $color-primary;
        margin-left: 6px;
      }
    }

    &-desc {
      margin: 11px 0 13px;
      font-style: italic;
      font-size: 10px;
      line-height: 19px;
    }
  }
}
