.subscribe {
  @include flex-elems(flex, space-between);
  padding: 9px 19px 8px;
  margin: 30px 0 29px;
  @include border(border-top, dashed, $smokie);
  @include border(border-bottom, dashed, $smokie);
  &-item {
    max-width: 65%;
    @include flex-elems(flex, null, center);
  }

  &-text {
    @include text(14px, 16px, italic, null, null, 0 0 0 16px);
  }

  &-form {
    @include flex-elems(flex, null, center);
    &-input {
      width: 160px;
      min-height: 22px;
      padding: 0 6px;
      @include text(10px, 10px, null, null, null, null);
      @include border(border, solid, $smokie);
      &::placeholder {
        @include text(10px, 10px, null, $smokie, null, null);
      }
    }
    &-btn {
      max-width: 80px;
      min-height: 23px;
      padding: 6px 18px;
      @include text(10px, 9px, null, $color-dark, null, 0 0 0 18px);
      text-transform: capitalize;
      background: linear-gradient(180deg, $linear-top 0%, $linear-bottom 100%);
      @include border(border, solid, $smokie);
      border-radius: 2px;
    }
  }
}
