.tabs {
  &-content {
    position: relative;
    @include text(22px, 22px, italic, $color-dark, null, null);

    &-item {
      display: none;
      max-width: 100%;
      height: 445px;

      @for $i from 1 to 5 {
        &__0#{$i} {
          background: url("../images/foodsense-tab_0#{$i}.jpg")
            center
            center /
            cover
            no-repeat;
        }
      }

      &__active {
        @include flex-elems(flex, flex-end);
        flex-direction: column;
        padding-bottom: 4.27rem;
      }
    }

    &-title {
      background-color: $color-white;
      padding: 14px 20px 12px;
      max-width: 30.4%;
      margin: 0;
      letter-spacing: 0.01em;
    }

    &-desc {
      @include text(14px, 14px, null, $color-white, null, null);
      max-width: 54.4%;
      padding: 14px 24px;
      background-color: $color-dark;
    }
  }

  &-pagination {
    @include flex-elems(flex, null, center);
    &-item {
      flex-grow: 1;
      flex-basis: 25%;
      padding: 27px 19px 21px;
      background-color: $color-light;
      @include border(border-right, solid, $color-white);
      // &:nth-child(-n + 2) {
      //   @include border(border-right, solid, $color-white);
      // }

      &__active {
        background-color: $color-light-active;
        border: none;
      }
    }
  }

  &-name {
    @include text(18px, 18px, normal, $color-primary, null, 0 0 -0.15rem);
  }

  &-info {
    @include text(10px, 19px, italic, $color-primary, null, null);
  }
  &-dots {
    position: absolute;
    bottom: -1.6rem;
    right: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 20px;
    @include list-reset(0, 0);
    display: none;
    &-item {
      @include img-size(15px, 15px);
      background: $color-primary;
      margin-right: 10px;
      @include border(border, solid, $color-dark, 2px);
      &__active {
        @include border(border, solid, $color-primary, 3px);
        background-color: $color-dark;
      }
    }
  }
  &-arrows {
    display: none;
    &-item {
      position: absolute;
      @include img-size(2rem, 2rem);
      @include border(border-radius, null, null, 50%);
      border: none;
      top: 50%;
      transform: translate(50%, -50%);
      background: url("../../images/arrow.svg") no-repeat center;
      background-size: auto;
      background-size: contain;
      cursor: pointer;
      transition: all 0.3s;
      &__left {
        left: 0.5rem;
        transform: translate(-50%, -50%) rotate(180deg);
      }
      &__right {
        right: 0.5rem;
      }
    }
  }
}
